<%- include ('partials/header.ejs')%>


<h1>Bem vindo ao MiteScan!<h1>
<a href="colmeia.ejs">Cadastrar Colmeia</a>
<br>
<a href="user.ejs">Cadastrar Usuário</a>


<%- include ('partials/footer.ejs')%>